{
	"root": true,

	"extends": "@ljharb",

	"rules": {
    "complexity": "off",
    "func-style": "off",
    "max-lines-per-function": "off",
    "max-statements": "off",
		"multiline-comment-style": "off",
    "no-magic-numbers": "off",
	},

  "overrides": [
    {
      "files": [
        "cli.js",
        "support.js",
      ],
      "extends": "@ljharb/eslint-config/node/0.4",
      "rules": {
        "eqeqeq": ["error", "allow-null"],
        "no-magic-numbers": "off",
      }
    },
    {
      "files": "verbfile.js",
      "rules": {
        "global-require": "off",
      },
    }
  ]
}
